body {
  font-size: 1.2rem;
}

.bg-secondary {
  background-color: #6c7d6d !important;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 3rem 2rem;
  }
}

.text-secondary {
  color: #6c7d6d !important;
}

.navbar-nav .nav-link {
  font-weight: 500;
}
